.header{
  display: flex;
  width: 500px;
  justify-content: space-around;
}

.card-header{
  background-color: bisque;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  height: 2rem;
  width: 10rem;
  text-align: center;
  font-weight: 600;
}

.cell{
  display: flex;
  justify-content: space-around;
  width: 500px;
}

.product1{
  background-color: rgb(230, 229, 229);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  height: 2rem;
  width: 10rem;
  text-align: center;
  margin-bottom: 10px;
}